@model OnlineShop.Models.ProductTypes
@{
    ViewData["Title"] = "Create";
}

<!--h2 class="text-info">Create product Type</h2>
<form-- method="post" asp-action="Create">
    
   <div class="p-4 rounded border" >
       <div asp-validation-summary="ModelOnly" class="text-danger">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ProductType"></label>
                </div>
                <div class="col-5">
                   <input asp-for="ProductType" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="ProductType" class="text-danger">
            </span>
       </div>
       <div class="form-group">
           <input type="submit" class="btn btn-primary " value="save" />
           <a asp-action= "Index" class="btn btn-success" >Back To List </a>
       </div>
   </div>
</form-->


<form method="post">
    <div class="border p-3 mt-4">
       <div class="row pb-2">
            <h2 class="text-info">Create product Type</h2>
            <hr />
       </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
          <label asp-for="ProductType"></label>
          <input asp-for="ProductType" class="form-control" />
          <span asp-validation-for="ProductType" class="text-danger"></span>
        </div>

         
        <input type="submit" class="btn btn-primary " value="save" />
           <a asp-action= "Index" class="btn btn-success" >Back To List </a>
    </div>

</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}