@model String
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px;">
    <div class="btn-group">
        <a asp-action="Edit" asp-controller="User" class="btn btn-primary" asp-route-id="@Model"  asp-area="Customer">
           <i class="far fa-edit"></i>
        </a>
        <a asp-action="Details" asp-controller="User" class="btn btn-success" asp-route-id="@Model" asp-area="Customer" >
          <i class="fas fa-list"></i>
        </a>
        <a asp-action="Locout" asp-controller="User" class="btn btn-danger" asp-route-id="@Model" asp-area="Customer" >
           <i class="far fa-trash-alt"></i>        </a>
    </div>
</td>
