
@{  
     ViewData["Title"] = "Delete";
}

<div class="container col-6">
<form method="post" enctype="multipart/form-data" asp-action="Delete" id="role-form" >
    <div class="border p-3 mt-4">
       <div class="row pb-2">
            <h2 class="text-info">Do you to delete Role ?</h2>
            <hr />
       </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 class="text-danger">@ViewBag.messge</h3>
        <input type="hidden" value="@ViewBag.id"  name="id"/>
        <div class="mb-3">
          <label>Role Name</label>
          <input id="name" value="@ViewBag.name" name="name" class="form-control" required="required" readonly="readonly"/>
        </div>

        <input type="submit" class="btn btn-primary " value="Delete" />
           <a asp-action= "Index" class="btn btn-success" >Back To List </a>
    </div>

</form>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    $(document).ready(function() {
        $("#role-form").validate({
          rules: {
          UserName : {
          required: true,
      },

       PasswordHash : {
           required: true
      }

        },

       messages : {
          Username: "Enter your email",
          PasswordHash :"Enter your password"
      }

     });

     });
       </script>
    }

