@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles </h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Role</a>
    </div>
</div>
<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Name
            </th>

            <th></th>
        </tr>
        @foreach (var item in ViewBag.Roles)
        {
           <tr>
               <td>@item.Name</td>
                 <td>
                       <partial name="_PartialViewRole" model="@item.Id" />
                 </td> 
           </tr> 
        }
    </table>

</div>



@section scripts{
<JavaScript 
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
   <script src="text/javascript">
       $(function(){
         var save = '@TempData["save"]'
         if(save!=null){
            alertify.success(save);
         }
       })}

   </script>

}
